@page
@model ERWeb.Pages.ExchangeRatesModel
@{
}

<h2>Upload Excel File</h2>

<form method="post" enctype="multipart/form-data">
    <input asp-for="@Model.UploadedFile" type="file" />
    <button type="submit">Upload</button>
</form>

@if (Model.DateExchangeRates != null)
{
    <h2>Exchange Rates Table</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DateExchangeRates)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.USDRate</td>
                    <td>@item.EURRate</td>
                </tr>
            }
        </tbody>
    </table>
}
